btn{
    color:white;
}

/* .display{
    float:right;
} */
.card-title{
    font-size:35px;
}

.body{
    font-size: 25px;
    padding: 10px;
    ;
}

.uvSpan1{
    color:white;
    border-radius: 5px;
}
.uvspan2{
    border-radius: 5px;
    color:rgb(66, 66, 66);
}

.fivedayShow{
background-color: rgb(75, 165, 250);
/* margin:10px;
width:120px;
height:120px; */
color:white;
/* position: relative; */
margin: 5px;
/* justify-content: center; */
font-size: 14px;
}

/* #fivedayPlacement{
    justify-content: center;
} */
.name-list{
   font-size:18;
}

.search-title{
    font-size:18;
    font-weight: bold;
}

header{
    background-color: rgb(56, 56, 56);
    color:white;
    text-align: center;
    height: 65px;
    font-size: 45px;
}
/* .iconDiv{
    float:right;
    position:relative;
} */

.date{
    font-weight: bold;
}